/* 从CDN加载字体 */

@font-face {
  font-family: 'Alibaba PuHuiTi';
  src: url('https://cdn.jsdelivr.net/npm/@tslsmart/font-puhuiti@1.0.0/assets/alibaba-puhuiti-regular.ttf')
    format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

/* 将字体应用到整个应用 */
body,
input,
button,
textarea {
  font-family:
    'Alibaba PuHuiTi',
    'Source Han Sans SC VF',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  /* 推荐：添加抗锯齿效果 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  user-select: none; /* 禁止选中 */
  -webkit-user-select: none; /* Chrome/Safari/Edge 兼容 */
  cursor: default; /* 强制光标默认为箭头 */
}

/* 恢复输入框的可交互性 */
input,
textarea {
  user-select: text;
  -webkit-user-select: text;
  cursor: text;
}

/* 禁止图片被拖拽 (防止点击图片时出现半透明的拖拽影子) */
img {
  -webkit-user-drag: none;
}
